<h3>Your name</h3>

<div><%= f.text_field :first_name, :placeholder => "First name" %></div>

<div><%= f.text_field :last_name, :placeholder => "Last name" %></div>

<hr/>

<h3>Other details</h3>

<% unless user_signed_in? %>
<p>You can fill these in later.</p>
<% end %>

<div><%= f.text_field :company, :placeholder => "Company / Trading name" %></div>

<div><%= f.text_field :accreditation, :placeholder => "CEC Accreditation Number" %></div>