<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>Hi <%= @user.first_name %>,<br/></p> 
    <p>Thanks for signing up to solarmanuals.com.au<br/></p>
    <p>We are constantly striving to make the service better and make your life as an installer easier. We want to work closely with the installer community to add new useful features and improve the quality of our site and service. So don't hesitate to get in touch with any ideas, issues and feedback you may have. We will be more than happy to hear from you.<br/></p>
    <p>Thanks again,<br/></p>
    <p>The Team at</p>
    <a href="mailto:solarmanuals.com.au">solarmanuals.com.au</a>
  
  </body>
</html>