<div class="nest">
  
  <h2>Users</h2>
  <p>Total users = <span class="red"><%= @total_users %></span></p> 
  <p>Total users this month = <span class="red"><%= @total_users_this_month %></span></p>
    
  <h2>$$$$</h2>
  <p>Total billed this month = <span class="red"><%= @total_billed_this_month %></span></p>

</div>