<% get_notices.each do |name, arraz| %>
  
  <% id, msg = arraz %>
  
  <div id="<%= name %>" class="alert" data-id="<%= id %>"><div class="warning-notice">
  
  <% if name == :alert %>
    <i class="icon-warning-sign"></i>
  <% else %>
    <i class="icon-comment"></i>
  <% end -%>
   
   <p><%= msg %></p></div></div>
   
<% end -%>
