<div class="row">
  <div class="span6">
    
    <h2>Delivery Policy</h2>

    <p>Manuals are delivered digitally through the user's web browser.</p>

    <h4>CASUAL USERS</h4>

    <p>Casual users can download manuals after paying a one-off fee for that manual, and filling in all necessary details for that manual.</p>

    <h4>SUBSCRIBERS</h4>

    <p>Subscribers can create and download an unlimited number of manuals. Subscribers are charged once per month based on the number of manuals downloaded. A manual is marked as being downloaded only when the subscriber clicks on the 'Download PDF' button.</p>
  </div>
</div>