<div class="container">
    <div class="inner-container nest">
      <div class="page faqpage">
        <h2 class="section-title">Frequently Asked Questions</h2>
        <p>Help, I've forgotten my password?
        <span>No problems, simply click on the 'Forgot your password' link on our sign in page. A link to reset your password will be sent to your registered email account.</span>
        </p>
        <p>What type of images can I upload? What size do the images need to be?
        <span>You can upload 'tiff, jpeg/jpg, gif, png' file types. These can be uploaded at any size. Although we recommend uploading images that are larger than 1500px wide for use on the front page of manuals </span>
        </p>
        <p>After I subscribe when will I be billed?
        <span>Billing will occur exactly one month from when you subscribe. It will then continue every month until your subscription is cancelled.</span>
        </p>
        <p>How do I unsubscribe?
        <span>To unsubscribe simply click on the ‘Billing Details’ link in the global navigation bar at the top of the screen when logged in. Please note that you will be billed immediately for your current months usage</span>
        </p>
        <p>Can I use these manuals for stand alone systems?
        <span>Not yet but we are working on it. We hope to launch a stand alone manual generator including battery support in the middle of 2013.</span>
        </p>
        <p>If I unsubscribe how long will my archived manuals and install images be stored for?
        <span>Archived manuals and images may be deleted 6 months from your last sign in or order of a manual at the casual rate.</span>
        </p>
        <h2 class="section-title">Need some help or have a question that's not listed?<br/><a href="mailto:info@solarmanuals.com.au">Email us and we will get back to you quick smart</a></h2>
      </div>
    </div>
</div>