      <div class="pagination-centered hero-unit">
        <h1>We make it easy to create professional, guaranteed compliant grid connect user manuals</h1>
      </div>
      
      <hr>
            
      <!-- Start listing features -->
      
      <div class="row">
        <div class="span4">
          <h2>Flexibly priced</h2>
          <p>Our flexible pricing allows you to pay a fixed casual price on a per user manual basis or subscribe to a monthly no contract service and generate limitless manuals plus enjoy additional features aswell.</p>
        </div>
        <div class="span4">
          <h2>Easy graphs</h2>
          <p>Simply select your customers location and a relevant average power generation graph is formulated based on data relevant to that city. Easy.</p>
        </div>
        <div class="span4">
          <h2>No drawing required</h2>
          <p>A simple easy to understand system diagram is automatically created and labelled based off the components in used in your install.</p>
       </div>
      </div>
      
      <div class="row">
        <div class="span4">
          <h2>100% CEC compliant</h2>
          <p>Feel confident knowing the grid connect user manual you provided is 100% CSC compliant. Stop wasting time and money drafting manuals that you may be penalised for.</p>
        </div>
        <div class="span4">
          <h2>Easy and professional</h2>
          <p>Enter your business details, client information and install details and our system will generate a professional looking grid connect user manual. Featuring data rich graphs and diagrams to match your customers location and setup.</p>
        </div>
        <div class="span4">
          <h2>Record your installs</h2>
          <p>Limit your liability by automatically keeping a comprehensive record of your installs. Subscribers have the added bonus of uploading and archiving images of completed installs.</p>
       </div>
      </div>