<div class="hero-unit pagination-centered">
  <h1>CEC compliant, grid connect user manuals in under 60 seconds!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-large">Play <i class="icon-play icon-white"></i></a></p>
</div>

<hr>

<div class="row">
  <div class="span3 offset2"><button class="btn btn-large btn-block btn-info paddingtopbot" type="button">Download Sample</button></div>
  <div class="span3 offset2"><%= link_to "Get Started", new_user_registration_path, :class => "btn btn-large btn-block btn-success paddingtopbot" %></div>
</div>

<hr>

<!-- Example row of columns -->

      <div class="row features">
        <div class="span4">
          <i class="sm-tick sm-sprite"></i>
          <h2>CEC compliant</h2>
          <p>Feel confident knowing the grid connect user manual you provided is 100% CSC compliant. Stop wasting time and money drafting manuals that you may be penalised for.</p>
        </div>
        <div class="span4">
          <i class="sm-easy sm-sprite"></i>
          <h2>Easy and professional</h2>
          <p>Enter your business details, client information and install details and our system will generate a professional looking grid connect user manual. Featuring data rich graphs and diagrams to match your customers location and setup.</p>
        </div>
        <div class="span4">
          <i class="sm-phone sm-sprite"></i>
          <h2>Record jobs on the go</h2>
          <p>Limit your liability by automatically keeping a comprehensive record of your installs. Subscribers have the added bonus of uploading and archiving images of completed installs from their smart phone via our web app.</p>
        </div>
      </div>

<div class="row features">
        <div class="span4">
          <i class="sm-dollars sm-sprite"></i>
          <h2>Flexibly priced</h2>
          <p>Our flexible pricing allows you to pay a fixed casual price on a per user manual basis or subscribe to a monthly no contract service and generate limitless manuals plus enjoy additional features aswell.</p>
        </div>
        <div class="span4">
          <i class="sm-graph sm-sprite"></i>
          <h2>Hassle-free graphs</h2>
          <p>Simply select your customers location and a relevant average power generation graph is formulated based on data relevant to that city. Easy.</p>
        </div>
        <div class="span4">
          <i class="sm-diagram sm-sprite"></i>
          <h2>Automatic diagrams</h2>
          <p>Simple and easy to understand system diagrams are automatically created and labelled with the components used in your install.</p>
       </div>
  </div>
