<div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit pagination-centered">
        <h1>CEC compliant, grid connect user manuals in under 60 seconds!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Play <i class="icon-play icon-white"></i></a></p>
      </div>
      
      <hr>
      
      <div class="row">
        <div class="span3 offset2"><button class="btn btn-large btn-block btn-info" type="button"><br/>Try it now for free<br/>&nbsp;</button></div>
        <div class="span3 offset2"><button class="btn btn-large btn-block btn-success" type="button"><br/>Get Started!<br/>&nbsp;</button></div>
      </div>
      
      <hr>
      
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>100% CEC compliant</h2>
          <p>Feel confident knowing the grid connect user manual you provided is 100% CSC compliant. Stop wasting time and money drafting manuals that you may be penalised for.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Easy and professional</h2>
          <p>Enter your business details, client information and install details and our system will generate a professional looking grid connect user manual. Featuring data rich graphs and diagrams to match your customers location and setup.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Record your installs</h2>
          <p>Limit your liability by automatically keeping a comprehensive record of your installs. Subscribers have the added bonus of uploading and archiving images of completed installs.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
      </div>