<div class="row">
  <div class="span6">
    <h2>Refund Policy</h2>

    <p>We are happy to credit your account within 14 days of subscription, provided that we are responsible for technical faults or difficulties as a result of not being able to access this service. Refunds will be approved at our discretion and all associated costs are to be incurred by the subscriber. </p>

    <p>Please email <a href="mailto:info@solarmanuals.com.au">info@solarmanuals.com.au</a> with notification of and reason for the refund. We will respond with instructions on how to proceed.</p>

    <p>Should you download a faulty or damaged manual, please email us <a href="mailto:info@solarmanuals.com.au">info@solarmanuals.com.au</a> with your specific problem and we'll get back to you promptly.</p>
  </div>
</div>