<div id="image-uploads">
  <%= form_for @manual, :url => { :action => :update }, :html => { :multipart => true } do |f| %>
    <p>
      Photos&nbsp;&nbsp;∙&nbsp;&nbsp;<a href="#" id="upload-manual-images">Add Photos</a><br/>
      <% if @manual.images.count > 0 %>
        <span class="regular">Click to set cover image</span>
      <% end %>
    </p>
    <%= f.file_field :files_array, :multiple => true,  :accept => "image/*" %>
    <%= f.submit "Attach Images", :class => "btn", :id => "submit_manual_images_btn" %>
  <% end %>


  <div id="manual-images-container">
    <div id="manual-images">
      <% @manual.images.each do |image| %>
        <%= render :partial => 'manuals/image', :locals => { image: image } %>
      <% end %>
    </div>
  </div>
</div>