<hr/>

<%= form_for @manual, :url => { :action => :update }, :html => { :multipart => true } do |f| %>
  <p><a href="#" id="upload-manual-images" class="btn btn-large"><i class="icon-upload"></i> Upload Photos</a></p>
  <%= f.file_field :files_array, :multiple => true,  :accept => "image/*" %>
  <%= f.submit "Upload", :class => "btn", :id => "submit_manual_images_btn" %>
<% end %>

<hr/>

<div id="manual-images-container">
  <div id="manual-images">
    <% @manual.images.each do |image| %>
      <div class="manual-image">
        <%= link_to image_tag(image.file.url(:thumb), 
            :id => "image-#{image.id}", 
            :class => @manual.feature_image_class(image.id)
          ), set_feature_path(feature_id: image.id, :format => :js), 
          :method => :put, 
          :remote => true %>
        <%# link_to "Delete", image_path(image), :method => :delete %>
      </div>
    <% end %>
  </div>
</div>