<div id="image-uploads">
  <%= form_for @manual, :url => { :action => :update }, :html => { :multipart => true } do |f| %>
    <p>Attach Installation Images <i class="icon-picture"></i><br/>
      <% if @manual.images.count > 0 %>
        <span class="help">Click to set a cover image - this image will appear on the front page of your manual</span>
      <% end %>
    </p>
    <%= f.file_field :files_array, :multiple => true,  :accept => "image/*" %>
    <%= f.submit "Add Images", :class => "btn", :id => "submit_manual_images_btn" %>
  <% end %>


  <div id="manual-images-container">
    <div id="manual-images">
      <% @manual.images.each do |image| %>
        <%= render :partial => 'manuals/image', :locals => { image: image } %>
      <% end %>
    </div>
  </div>
  <a href="#" id="upload-manual-images" class="btn">Add Images</a>
</div>