<div class="serial-range">
  <p class="help">Enter a range of serials<br/>and press enter.</p>
  <label>From</label><input class="range-from" type="text" /><br/>
  <label>To</label><input class="range-to" type="text" />
</div>