<div class="field">
  <div class="field-label">
    <%= f.label :include_wiring %>
  </div>
  <div class="field-input">
    <%= f.check_box :include_wiring %>
  </div>
</div>
<div class="field">
  <div class="field-label">
    <%= f.label :isolator_type, "Type of Isolator" %>
  </div>
  <div class="field-input">
    <%= f.text_field :isolator_type %>
  </div>
</div>
    