<%= f.label :include_wiring, :class => "checkbox" do %>
  <%= f.check_box :include_wiring %> Include Wiring
<% end %>
<div class="fields">
  <%= f.label :isolator_type, "Type of Isolator" %>
  <%= f.text_field :isolator_type %>
</div>
    