@import 'variables';

/* IE Styling of forms */

html.shit {
  input[type=submit] {
    display: block;
    margin-top: 1em;
  }
}

select {
  height: $baseLineHeight;
  line-height: $baseLineHeight;
  font-size: $baseFontSize;
}

input[type=submit],
button,
.btn {
  margin: 0 10px 0 0;
  display: inline-block;
  background: #fff;
  border: $blue 2px solid;
  color: $blue;
  padding: 5px 15px;
  font-weight: bold;
  font-size: $baseFontSize;
  @include round;
  &:hover {
    color: $darkGrey;
    border-color: $darkGrey;
    cursor: pointer;
  }
  &.primary {
    background: $blue;
    color: #fff;
    &:hover {
      background: $darkGrey;
      border-color: $darkGrey;
    }
  }
}

.field {
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
  position: relative;
  @include clearfix;
  .field-label {
    @include grid(4);
    text-align: right;
    clear: left;
    img {
      max-width: 50%;
    }
  }
  .field-input {
    @include grid(8);
    p {
      margin-top: $baseLineHeight;
    }
  }
  .helper {
    float: left;
    text-align: right;
    font-size: (12em/16);
    line-height: 16px;
    color: $midGrey;
  }
}

.actions {
  @include grid(8);
  @include offset(4);
  margin-bottom: $baseLineHeight;
}


.cc-fields {
  .field {
    margin-top: $baseLineHeight / 2;
    margin-bottom: $baseLineHeight / 2;
  }
  .error {
    display: inline-block;
    .help-inline {
      display: none;
    }
  }
}

.checkbox {
  input {
    margin: 6px 6px 0 0;
  }
}


label.required:after {
    content: " *";
}