@import 'variables';

select {
  height: $baseLineHeight;
  line-height: $baseLineHeight;
  font-size: $baseFontSize;
  padding: 10px;
}

input[type=submit],
.btn {
  background: #fff;
  border: 2px solid;
  color: $blue;
  padding: 5px 15px;
  font-weight: bold;
  @include round;
  &:hover {
    color: $darkGrey;
    cursor: pointer;
  }
}