label.inline {
  display: inline;
}

.card_form {
  .control-group {
    display: inline-block;
  }
  .help-inline {
    display: none;
  }
}

.expiry, .cvn {
  display: inline-block !important;
  width: 50px !important;
}

.cvn {
  margin-left: 20px;
}