@import 'variables';

#header {
  width: 100%;
  max-width: 100%;
  z-index: 10;
  ul {
    display: $lightGrey;
  }
  a {
    &:hover {
      color: $blue;
    }
  }
}

#home-nav {
  border-bottom: 1px $lightGrey solid;
  li {
    display: inline-block;
    float:left;
    margin-right: $boxPadding * 2;
    position: relative;
    top: 4px;
  }
  #sign-in {
    float: right;
    margin-right: 0;
    i {
      margin-left: 0.5em;
    }
    a {
      &:hover {
        color: $blue;
        i {
          color: $blue;
        }
      }
    }
  }  
  #logo h1 {
    font-size: $baseFontSize;
    a {
      color: $black;
    }
    &:after {
      content: '•';
      display: inline-block;
      margin-left: 20px;
    }
  }
}

#intro {
  @include grid(6);
  @include push(6);
  h1, p {
    margin: ($baseLineHeight*2) 0;
  }
  h1 {
    font-size: 36px;
    line-height: $baseLineHeight * 2;
  }
  p {
    color: $midGrey;
    font-weight: 500;
  }
}

#papers {
  background: url('papers.png') 0 0 no-repeat;
  position: absolute;
  right: -70px;
  height: 480px;
  width: 435px;
  z-index: 11;
}

.section-title {
  text-align: center;
  margin: ($baseLineHeight*2) 0;
}

.pricing-item {
  background: white;
  border-radius: 15px;
  padding: 1em;
  border: 1px $grey solid;
  margin-bottom: 1.5em;
  @include grid(4);
  @include offset(1);
  @include push(1);
  h2 {
    font-size: 20px;
    margin-bottom: 1em;
  }
}

.pricing-table {
  background: white;
  position: relative;
  border-radius: 15px;
  padding: 1em 0;
  border: 1px $grey solid;
  margin-bottom: 1.5em;
  @include grid(10);
  @include offset(1);
  @include push(1);
  h2 {
    font-size: 20px;
    margin-bottom: 1em;
  }
  .help {
    margin: 0;
  }
}

.rates-table {
  @include grid(10);
  @include offset(1);
  @include push(1);
  margin-bottom: 1em;
    
    td {
      text-align: right;
      padding: 0px 20px 0px 0px;
      width: 50%;
    }
    td.r-col {
      text-align: left;
      padding: 0px 0px 0px 20px;
      border-left: 1px solid $lightGrey;
    }
}

.dotted {
  border-color: #ccc;
  border-style: dashed;
  margin-bottom: 1em;
}

.whatsincluded {
  background: white;
  hr {
    margin-bottom: 1em;
  }
}

.included-list-holder {
  @include nest;
  .included-list {
    @include grid(6);
    ul {
      list-style: disc inside;
      li {
        font-weight: 500;
        color: $midGrey;
      }  
    }
  }
  .manual-pic {
    @include grid(6);
    img {
      width:100%;
      height: auto;
    }
    .btn {
      display: block;
      margin: 0 auto;
    }
  }
}



#features {
  @include nest;
  .feature {
    @include regular;
    @include grid(4);
    h2 {
      font-weight: bold;
    }
    p {
      font-weight: 500;
      color: $midGrey;
    }
    img {
      width: 100%;
      height: auto;
    }
    @media (min-width: $minBig) {
      &:nth-child(3n-2) {
        clear: left;
      }      
    }
    @media (max-width: $maxBig) {
      width: $half;
      &:nth-child(2n-1) {
        clear: left;
      }
    }
    @media (max-width: $maxSmall) {
      clear: none;
      width: 100%;
    }
  }
}