@import 'variables';

#header {
  position: fixed;
  top:0;
  background: black;
  width:100%;
  //border-bottom: 1px $lightGrey solid;
  ul {
    display: $lightGrey;
  }
  a {
    color: white;
    &:hover {
      color: $blue;
    }
  }
}

#home-nav {
  background: black;
  font-size: 14px;
  padding: 0.5%;
  li {
    display: inline-block;
    float:left;
    margin-right: $boxPadding * 2;
    position: relative;
    top: 10px;
  }
  #sign-in {
    float: right;
    margin-right: 0;
    i {
      color: white;
      margin-left: 0.5em;
    }
    a {
      &:hover {
        color: $blue;
        i {
          color: $blue;
        }
      }
    }
  }  
  #logo {
    font-weight: 200;
    display: table-cell;
    top: 0px;
  }
}

.getstarted {
  margin-bottom: 2.66667%;
  .btn {
    font-size: 1.8em;
    background: $blue;
    border: none;
    color: white;
    padding: 20px;
  }
}

.video {
  background: $darkGrey;
}

.hometitle {
  font-size: 24px;
  line-height: 1.5em;
  margin: 1.5em 0;
}

.pricing {
  background: white;
  .pricing-item {
    border-radius: 15px;
    padding: 1em;
    border: 1px $grey solid;
    margin-bottom: 1.5em;
    @include grid(4);
    @include offset(1);
    @include push(1);
    h2 {
      font-size: 20px;
      margin-bottom: 1em;
    }
  }
}

.pricing-table {
  position: relative;
  border-radius: 15px;
  padding: 1em;
  border: 1px $grey solid;
  margin-bottom: 1.5em;
  @include grid(10);
  @include offset(1);
  @include push(1);
  h2 {
    font-size: 20px;
    margin-bottom: 1em;
  }
}

.dotted {
  border-color: #ccc;
  border-style: dashed;
  margin-bottom: 1em;
}

.icon-remove {
  position: absolute;
  top: 0.3em;
  right: 0.4em;
  font-size: 1.5em;
  color: grey;
}

#features {
  @include nest;
  .feature {
    width: $third;
    float: left;
    padding: $boxPadding;
    @include box-sizing(border-box);
    img {
      width: 100%;
      height: auto;
    }
    @media (min-width: $minBig) {
      &:nth-child(3n-2) {
        clear: left;
      }      
    }
    @media (max-width: $maxBig) {
      width: $half;
      &:nth-child(2n-1) {
        clear: left;
      }
    }
    @media (max-width: $maxSmall) {
      clear: none;
      width: 100%;
    }
  }
}