@import 'variables';

#manual-images-container {
  min-height: 100px;
  width: 102%;
  margin-left: -1%;
  margin-bottom: $baseLineHeight;
  overflow: hidden;
  .manual-image {
    line-height: 0;
    width: $third;
    padding: 1%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    position: relative;
    &.feature {
      border: $blue solid 3px;
      &:hover {
        .featured {
          display: block;
        }
      }
      .set-feature {
        display: none !important;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .delete-image {
      position: absolute;
      line-height: 15px;
      top: 10px;
      right: 10px;
      background: #dd0000;
      color: #fff;
      border-radius: 3px;
      font-size: 75%;
      display: none;
      padding: 1px 5px;
    }
    .set-feature, .featured {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      text-align: center;
      color: #fff;
      line-height: 150px;
      display: none;
    }
    &:hover {
      .delete-image,
      .set-feature {
        display: block;
      }
    }
  }
  &.loading {
    #manual-images {
      opacity: 0.3;
    }
  }
}

#upload-manual-images {
  display: none;
}