@import 'variables';

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background: $lightGrey;
}

.container {
  max-width: $pageWidth;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  @include box-sizing(border-box);
  padding: $boxPadding;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: $baseLineHeight auto (-($footerHeight));
  padding-bottom: 50px;
  @include box-sizing(border-box);
  @include clearfix;
  @media (max-width: 900px) {
    padding-top: 0;
  }
}

.nest {
  @include nest;
}


#home-menu {
  li {
    display: inline-block;
    margin-right: $boxPadding;
  }
}

#signed-in-top {
  padding: $baseLineHeight 0;
  #user-details {
    @include grid(5);
    @include regular;
    h2, a {
      font-weight: bold;
    }
  }
  #billing-info {
    @include grid(4);
    @include regular;
    position: relative;
    strong, a {
      font-weight: bold;
    }
    .icon-file-alt {
      position: absolute;
      left: -27px;
      top: 3px;
      font-size: 2.5em;
      color: $grey;
    }
  }
  #sign-out {
    @include grid(3);
    text-align: right;
  }  
}
