@import 'variables';

html,
body {
  height: 100%;
  background: $lightGrey;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 74px 0 50px;
  margin: 0 auto (-($footerHeight));
  @include clearfix;
  @include box-sizing(border-box);
  @media (max-width: 900px) {
    padding-top: 0;
  }
  .inner-wrap {
    margin: 0 auto;
    max-width: $pageWidth;
    background: $lightGrey;
    &.fluid {
      max-width: 100%;
      .container {
        max-width: $pageWidth;
        padding: 0;
        .inner-container {
          padding: $pagePadding;
          @include clearfix;
        }
      }
    }
  }
}

.container {
  @include box-sizing(border-box);
  max-width: $pageWidth;
  padding: $pagePadding;
  margin: 0 auto;
  position: relative;
  background: #fff;
}

.nest {
  @include nest;
}

#signed-in-top {
  #user-details {
    @include grid(4);
    @include regular;
    h2, a {
      font-weight: bold;
    }
  }
  #billing-info {
    @include grid(5);
    @include regular;
    position: relative;
    strong, a {
      font-weight: bold;
    }
    .icon-file-alt {
      position: absolute;
      left: -27px;
      top: 3px;
      font-size: 2.5em;
      color: $grey;
    }
  }
  #sign-out {
    @include grid(3);
    text-align: right;
  }  
}


.alert {
  padding: $baseFontSize $pagePadding;
  background: $yellow;
  line-height: $baseLineHeight;
  text-align: center;
  .icon-remove {
    float: right;
    &:hover {
      cursor: pointer;
    }
  }
}

.container .alert {
  margin-top: -$pagePadding;
  margin-bottom: $baseLineHeight;
}

#header .alert {
  margin: 0;
}