@import 'variables';

form input[type=checkbox] {
  margin-right: 1em;
}

#new-manual {
  padding: 25px 0;
  font-size: 1.75em;
}

.btn i {
  line-height: 1em !important;
  margin-right: 5px;
}


#user-menu {
  border-bottom: 1px dotted;
  margin: 40px 0 0;
  padding-left: 20px;
  a {
    display: inline-block;
    margin-left: 5px;
    background: #fff;
    padding: 7px 15px 8px;
    border: #ccc 1px dotted;
    border-bottom: none;
    &.active {
      padding-top: 10px;
      color: $black;
      border-color: $darkGrey;
      border-bottom: #fff 1px solid;
      margin-bottom: -1px;
    }
    &:hover {
      border-color: $darkGrey;
      border-bottom-color: #fff;
    }
  }
}


#manual-title {
  padding: 3em 0 1em;
}

#manual-actions {
  margin: $baseLineHeight * 4 0;
  a {
    margin: 0;
  }
}

#manual-uploads {
  @include nest;
}

#pdf-uploads {

  @include grid(12);
  margin-bottom: $baseLineHeight * 3;

}

#manual-pdfs-boxes {
  float: left;
  width: 100%;
  margin-top: 1em;
  .pdf {
    @include clearfix;
    margin-bottom: 0;
    label {
      width: 75%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      float: left;
      input {
        float: left;
      }
    }
    .delete-pdf-link {
      float: right;
      text-align: right;
      width: 20%;
      display: inline-block;
    }
  }
  .pdfs-submit-btn {
    float: left;
    margin-top: 1em;
  }
}

#image-uploads {
  @include grid(12);
  margin-bottom: $baseLineHeight * 2;
}


#manual-form {
  list-style: decimal inside;
  .edit-step {
    float: right;
  }
  .step {
    width: 100%;
    border-top: $black 1px dotted;
    padding: $baseLineHeight 0 0;
    &.after {
      color: $midGrey;
    }
    .step-inner {
      @include clearfix;
      position: relative;
      min-height: $baseLineHeight;
      top: -$baseLineHeight;
      margin-bottom: -$baseLineHeight;
      padding-bottom: $baseLineHeight;
    }
  }
  .step-preview {
    margin-left: $columnWidth * 4 + $boxPadding;
    @include regular;
  }
}

.step {
  .step-fields {
    display: none;
    margin-top: $baseLineHeight;
    padding-bottom: $baseLineHeight;
  }
  
  &.current {
    .step-fields {
      display: block;
    }
  }
}

#string-fields {
  counter-reset: item;
  margin-top: $baseLineHeight * 2;
  position: relative;
  li:before {
    content: "String " counter(item);
    counter-increment: item;
    position: absolute;
    left: $boxPadding;
    z-index: 1;
    background: white;
    top: -22px;
    left: 100px;
    padding: 0 10px;
  }
  .string-fields {
    position: relative;
    z-index: 1;
  }
  li {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 1px 0 1px;
  }
  .background {
    position: absolute;
    top: -12px;
    bottom: 0;
    border: $grey 2px solid;
    left: $columnWidth;
    right: $columnWidth;
    z-index: 0;
  }
}


.add-fields {
  @include grid(8);
  @include offset(4);
  margin-bottom: $baseLineHeight;
}

.remove_fields {
  color: $red;
  border-color: $red;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  border: $grey 1px solid;
  padding: 5px 10px;
  margin-top: -3px;
  @include round;
  &:focus {
    border-color: $blue;
    outline: none;
    @include box-shadow(0 0 0 1px $blue);
  }
}

.error {
  input {
    @include box-shadow(0 0 0 1px $red);
  }
}

.help-inline {
  color: $red;
  @include regular;
  margin-left: 10px;
  font-size: 14px;
}


#manuals-archive-table {
  tr {
    &.incomplete {
      a {
        color: $midGrey;
      }
    }
    &:hover {
      background: $lightGrey;
    }
  }
  
  .index-controls {
    a:hover {
      color: $darkGrey;
    }
  }
}



#serial-range {
  position: absolute;
  right: 20px;
  p {
    @include clearfix;
    clear: left;
    margin: 0 0 0.5em 0;
    text-align: right;
    display: block;
  }
  input {
    clear: left;
    font-size: 12px;
    padding: 0 5px;
  }
  label {
    width: 50px;
    margin-right: 10px;
    text-align: right;
    display: inline-block;
  }
}