#new-manual {
  padding-left: 30px;
  padding-right: 30px;
}

.btn i {
  line-height: 1em !important;
  margin-right: 5px;
}

.datetime select {
  width: 110px;
}
#manuals-archive-table {
  margin-top: 2em;
  tr.success:hover td {
    background: #bee0b0;
  }
  tr {
    min-height: 25px;
    &:hover {
      td {
        background: #f5f5f5;
      }
      .index-controls a {
        opacity: 1;
      }
    }
  }
  td {
    padding: 0;
  }
  td.paid-icon {
    text-align: center;
  }
  a {
    display: block;
    padding: 8px;
    color: #222;
    &:hover {
      text-decoration: none;
    }
  }
  .delete-btn {
    display: inline-block;
    color: red;
    &:hover {
      text-decoration: underline;
    }
  }
  .index-controls {
    text-align: right;
    width: 50px;
    a {
      opacity: 0;
    }
  }
}


.control-group {
  margin: 0 !important;
  position: relative;
}

.help-inline {
  position: absolute;
  left: 280px;
  top: 8px;
}


.new_manual, .edit_manual {
  input[type=text], textarea {
    width: 250px;
    background: #eee;
    border: none;
    padding: 7px 10px;
    box-shadow: none;
    font-family: 'Monaco', Courier, monospace;
    font-size: 12px;
    border-radius: 4px !important;
    &:focus {
      outline: none;
      background: #dedede;
    }
  }
  .input-append {
    width: 270px;
    position: relative;
    font-size: inherit;
    .add-on {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      z-index: 10;
      border-color: #eee;
      height: 18px;
      padding: 7px;
    }
    .input-container {
      display: block;
    }
  }
}

label {
  color: #555;
}

.subscribe.btn {
  padding-top: 20px;
  padding-bottom: 15px;
  color: #abdaa7;
  .above {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    .price {
      font-size: 2.5em;
    }
  }
}

#subscription-loading {
  display: none;
  text-align: center;
  color: #999;
}

.icon-minus {
  opacity: 0.3;
}

