@import 'variables';

#new-manual {
  padding: 25px 0;
  font-size: 1.75em;
}

.btn i {
  line-height: 1em !important;
  margin-right: 5px;
}


.step {
  .step-fields {
    display: none;
  }
  
  &.current {
    .step-fields {
      display: block;
    }
  }
}


#user-menu {
  border-bottom: 1px dotted;
  margin: 40px 0 0;
  padding-left: 20px;
  a {
    display: inline-block;
    margin-left: 5px;
    background: #fff;
    padding: 7px 15px 8px;
    border: #ccc 1px dotted;
    border-bottom: none;
    &.active {
      padding-top: 10px;
      color: $black;
      border-color: $darkGrey;
      border-bottom: #fff 1px solid;
      margin-bottom: -1px;
    }
    &:hover {
      border-color: $darkGrey;
      border-bottom-color: #fff;
    }
  }
}


#manual-form {
  list-style: decimal inside;
  .step {
    overflow: hidden;
    width: 100%;
    border-bottom: $black 1px dotted;
    padding: $baseLineHeight 0;
    &.after {
      color: $midGrey;
    }
  }
  .step-fields {
    float: left;
    width: $columnWidth * 10;
    margin-left: $columnWidth * 2;
  }
}


.field {
  margin: $baseLineHeight 0;
  @include clearfix;
  .field-label {
    float: left;
    width: $columnWidth * 3;
    text-align: right;
    clear: left;
  }
  .field-input {
    padding: 0 $boxPadding;
    float: left;
    @include box-sizing(border-box);
    width: $columnWidth * 9;
  }
  .helper {
    float: left;
    text-align: right;
    font-size: (12em/16);
    line-height: 16px;
    color: $midGrey;
  }
}

.actions {
  margin-left: $columnWidth * 3;
  padding: $boxPadding;
  float: left;
  @include box-sizing(border-box);
}


input[type=text],
input[type=email],
input[type=password],
textarea {
  border: $grey 1px solid;
  padding: 5px 10px;
  margin-top: -3px;
  @include round;
  &:focus {
    border-color: $blue;
    outline: none;
    @include box-shadow(0 0 0 1px $blue);
  }
}

select {
  padding: 5px 10pc;
}