@import "_variables";

#subscribe {
  @include clearfix;
  @include offset(2);
  @include grid(8);
  @include push(2);
}

#subscribe-cc-fields.hidden {
  display: none;
}

#invoice-graph {
  @include clearfix;
  margin-top: $baseLineHeight * 2;
  margin-bottom: $baseLineHeight * 3;
  .month {
    @include box-sizing(border-box);
    width: percentage(1/12);
    border: #fff 1px solid;
    float: left;
    position: relative;
    height: 101px;
    .info {
      position: absolute;
      top: 110px;
      white-space: nowrap;
      display: none;
    }
    &.current i {
      background: $blue !important;
    }
    i {
      position: absolute;
      width: 100%;
      bottom: 0;
      background: #eee;
    }
    &:first-child, &:hover {
      i {
        background: #999;
      }
    }
    &:hover {
      .info {
        display: block;
      }
    }
  }
}

#invoices {
  position: relative;
  @include clearfix;
  @include nest;
  .month {
    @include grid(3);
    clear: left;
    &.current:after {
      content: ' →';
    }
  }
  .invoices-list {
    @include grid(9);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.invoices-table {
  width: 100%;
}