@import 'variables';

#signature_box {
  border: #ccc 5px dashed;
  @include box-sizing(border-box);
  margin-bottom: 1em;
}

#signature {
  [type=file] {
    display: none;
  }
}

#signature-success {
  text-align: center;
  padding: 3em 0;
}