$mapwidth: 898px / 2;
$mapheight: 3640px / 2;

.sm-sprite {
  background: url(sprite_map.png);
  background-size: $mapwidth $mapheight;
  display: inline-block;
}

.sm-comment {
  background-position: -37px 0px;
  width: 37px;
  height: 33px;
}

.sm-curly {
  background-position: 0px 0px;
  width: 37px;
  height: 161px;
}

.sm-tick {
  background-position: -94px 0px;
  width: 375px;
  height: 260px;
}

.sm-easy {
  background-position: -94px -260px;
  width: 375px;
  height: 260px;
}

.sm-phone {
  background-position: -94px -520px;
  width: 375px;
  height: 260px;
}

.sm-dollars {
  background-position: -94px -780px;
  width: 375px;
  height: 260px;
}

.sm-graph {
  background-position: -94px -1040px;
  width: 375px;
  height: 260px;
}

.sm-diagram {
  background-position: -94px -1300px;
  width: 375px;
  height: 260px;
}