@import 'variables';

body {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-family: $baseFont;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=password] ,
input[type=submit],
textarea {
  font-size: $baseFontSize;
  font-family: $baseFont;
  line-height: $baseLineHeight;
}

.regular {
  @include regular;
}

strong, b {
  font-weight: bold;
}

.blue {
  color: $blue;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $darkGrey;
  }
  &:focus {
    outline: none;
    background: #c7e2f2 !important;
  }
}

h1 {
  font-size: $bigFontSize;
  line-height: 1.5em;
}

p {
  margin-bottom: $baseLineHeight;
}

.help {
  display: inline-block;
  font-size: $smallFontSize;
  line-height: 1.5em;
  color: $midGrey;
}

dl {
  margin-bottom: $baseLineHeight;
  @include clearfix;
  @include nest;
  dt, dd {
    line-height: $baseLineHeight;
    float: left;
  }
  dt {
    @include grid(4);
    @include regular;
    clear: left;
    text-align: right;
  }
  dd {
    padding-left: $boxPadding;
  }
}