@import 'variables';

body {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-family: $baseFont;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=password] ,
input[type=submit],
textarea {
  font-size: $baseFontSize;
  font-family: $baseFont;
  line-height: $baseLineHeight;
}

.regular {
  @include regular;
}

strong, b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $darkGrey;
  }
  &:focus {
    outline: none;
    background: #c7e2f2 !important;
  }
}

h1 {
  font-size: $bigFontSize;
  line-height: 1.5em;
}

p, ul, blockquote {
  margin-bottom: $baseLineHeight;
}

.help {
  display: inline-block;
  font-size: $smallFontSize;
  line-height: 1.5em;
  color: $midGrey;
}

.section-title {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0 2em 0;
  line-height: 1.5em;
  margin: ($baseLineHeight*2) 0;
}

dl {
  margin-bottom: $baseLineHeight;
  @include clearfix;
  @include nest;
  dt, dd {
    line-height: $baseLineHeight;
    float: left;
  }
  dt {
    @include grid(4);
    @include regular;
    clear: left;
    text-align: right;
  }
  dd {
    padding-left: $boxPadding;
  }
}

hr {
  border-bottom: 1px dotted;
  border-top: none;
  margin: $baseLineHeight 0;
}

.nest hr {
  margin-left: $boxPadding;
  margin-right: $boxPadding;
}

ul.list {
  list-style: disc inside;
}

.hidden {
  display: none;
}

.table {
  width: 100%;
  th {
    padding: 5px 10px;
    text-align: left;
  }
  tr {
    &:hover {
      background: $lightGrey;
    }
    a {
      padding: 5px 10px;
      display: block;
    }
  }
}