@import 'variables';

body {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-family: $baseFont;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=password] ,
input[type=submit],
textarea {
  font-size: $baseFontSize;
  font-family: $baseFont;
}

.regular {
  @include regular;
}

.blue {
  color: $blue;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $darkGrey;
  }
  &:focus {
    outline: none;
    background: #c7e2f2 !important;
  }
}