<div id="footer">
    
      <% if !user_signed_in? %>
      
      <div id="contact" class="greenfooter">
        <footer class="inner-container homefooter">
          <div class="foot3">For<br/>Support<br/>Enquiries<br/>Questions</div>
          <div class="foot1"><i class="sm-sprite sm-curly"></i></div>
          <div class="foot4  arrow-down"><i class="icon-arrow-down icon-white">&nbsp;</i></div>
          <div class="foot4">Contact Us<i class="icon-white icon-comment"></i><br/><a href="mailto:info@solarmanuals.com.au">info@solarmanuals.com.au</a></div>       
        </footer>
      </div>    
      
      <% end %>
              
       <div class="blackfooter">
        <footer class="homefooter">
          <div class="foot4 hidden-phone">
            
          </div>
          <div class="foot8">
            <ul>
              <li><%= link_to "Terms & Conditions", '/terms' %></li>
              <!--  <li><%# link_to "Privacy", '/privacy' %></li> -->
              <!-- <li><%# link_to "FAQ", '/faq' %></li> -->
            </ul>
          </div>
          
          <div class="foot4">
            <% if user_signed_in? %>
            <p>
              Contact Us <i class="icon-white icon-comment">&nbsp;</i> <a href="mailto:info@solarmanuals.com.au">info@solarmanuals.com.au</a>
            </p>
            <% end %>
            <p class="help">&copy; Solar Energy Consultants Australia 2013<br/>All prices on this site are stated in Australian Dollars and include GST.</p>
          </div>
        </footer>
      </div>
    
    </div>


  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39278466-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
  </body>
</html>