<%= render 'layouts/header' %>

  <div class="wrap">
    <div class="inner-wrap">
      <div class="container">
        <div class="inner-container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  
  <%= javascript_include_tag "blank" %>
  
  </body>
</html>